/**
 * File name: style.css
 * Author: Wang, Sheng Yuan (Elirex)
 * Date: 2015-06-21
 * Copyright 2015 Wang Sheng Yuan
 */
body {
	margin: 0px;
	height: 393px;
}
#input-area {
	border: 0;
	width: 65vw;
	resize: none;
	font-size: 8pt;
}

#input-action {
	margin-top: 16px;
	margin-left: 200px;
}
